html{
    margin:0px;
    padding: 0px;
    font-family: Poppins;
}
body{
    margin: 0px;
    padding: 0px;
}
h1, h2{
    margin: 0;
}

.main-button{
    width: 200px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
a.main-button:link, a.main-button:visited {
    color: black;
    background-color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a.main-button:hover, a.main-button:active {
    background-color: white;
    color: black;
  }


.nav{
    background-color: white;
    height: 60px;
    
}
.burger{
    display: none;
}
.hero{
    background-color: rgb(255, 102, 0);
    /*background-color: lightgray;*/
    background-image: url("images/giff_1.gif");
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 40px;
    gap: 40px;
    color: white;
    
}
.hero-flex{
    /*background-color: red;*/
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.hero img{
    height: 400px;
}


.home-1{
    padding-block: 40px;
    background-color: white;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 40px;
}
.home-flex{
    text-align: center;
}
.home-flex-2{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:100px;
    
}
.home-flex-2 img{
    height: 500px;
    
}
.nav-bar{
    padding-inline: 40px;
    padding-block: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*background-color: blueviolet;*/
    gap: 60px;
}
.nav-bar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:20px;

}
.nav-bar-2{
    padding-inline: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: orange;
    text-align: center;
    height: 50px;
    font-size: 14px;
    
}

@media only screen and (max-width: 600px) {
    
    p{
        font-size: 12px;
    }
    h1{
        font-size: 24px;
    }
    .main-button{
        width: 200px;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        font-size: 14px;
    }
    .nav-bar{
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }
    .burger{
        display: block;
        font-size: 30px;
    }
    .nav-bar ul{
        flex-direction: column;
        gap:20px;
        width: 100%;
        text-align: center;
        display: none;
    
    }
    .nav-bar-2 p{
        font-size: 12px;
        
    }
    .hero{
        flex-wrap: wrap;
        text-align: center;
        padding: 0px;
        gap: 0px;
    }
    .hero img{
        height: 300px;
    }
    
  }