html{
    margin:0px;
    padding: 0px;
    font-family: Poppins;
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
}
.snap-section {
    scroll-snap-align: start;
}
h1, h2, p{
    margin: 0;
}

.fix{
    position: fixed;
    z-index: 100;
    right: 30px;
    bottom: 30px;
    
}
.fix img{
    height: 40px;
    src: url(images/icon_small_ws.png);
}
.mobilews{
    display: none;
}

.hero-container{
    width: 100%;
    padding-block: 40px;
    background-color: #eeeeee;
    
}
.hero-bar{
    margin-inline: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    padding-inline: 40px;
    gap:20px;
    
}
.hero-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: start;
    width: 30%;
    height: fit-content;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgb(194, 194, 194);
    padding: 20px;
    gap:10px;
}
.hero-card img{
    height: 150px;
}
.hero-card h1{
    font-size: 30px;
}
.personal{
    display: flex;
    flex-direction: column;
    height: 150px;
}
.personal p{
    font-size: 12px;
    margin-block: 0px;
}
.linkedin{
    background-color: #0762C8;
    margin-top: 10px !important;
    border-radius: 30px;
    padding-block: 10px;
    width: 100%;
    text-align: center;
    
}
.linkedin{
    text-decoration: none;
    color: white;
}
.hero-tab h1{
    font-size: 14px;
}
.hero-tab p{
    font-size: 13px;
    flex-wrap: wrap;
}
.hero-tab span{
    background-color: rgb(221, 221, 221);
    padding-inline: 10px;
    border-radius: 20px;
}
.hero-contact{
    background-color: rgb(241, 177, 0);
    font-size: 14px;
    border-radius: 15px;
    padding: 10px;
    margin: auto;
    align-content: center;
    color: white;
}
.hero-contact a{
    text-decoration: none;
    color: white;
}



.title{
    width: 70%;
    padding-block: 10px;
    padding-inline: 20px;
}
.title h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.title-tab{
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom: solid 4px white;
}
.title-tab p{
    color: rgb(143, 143, 143);
    border-bottom: solid 4px white;
    padding-block: 20px;
    margin-bottom: -4px;
    font-weight: bold;
}
.tab-active{
    border-bottom: solid 4px black !important;
    color: black !important;
}
#content-tab1{
    display: block;
    transition: all 1s 0s;
}
#content-tab2{
    display: none;
    transition: all 1s 0s;
    opacity: 0;
}


.content-card{
    margin-top: 40px;
    padding-block: 20px;
    padding-inline: 30px;
    background-color: white;
    width: auto;
    height:auto;
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgb(194, 194, 194);
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.content-card img{
    height: 150px;
    border-radius: 15px;
}
.content-card-details{
    display: flex;
    flex-direction: column;
}
.content-card-details h1{
    font-size: 25px;
    margin-bottom: 5px;
}
.content-card-details span{
    font-size: 12px;
    background-color: rgb(221, 221, 221);
    padding-inline: 10px;
    border-radius: 20px;
}


@media only screen and (max-width: 1200px) {
    .hero-bar{
        flex-wrap: wrap;
    }
    .hero-card{
        width: 100%;
    }
    .title{
        width: 100%;
    }
    .title h1{
        font-size: 30px;
    }
    .content-card-details h1{
        font-size: 20px;
    }
    .content-card-details p{
        font-size: 14px;
    }
}



@media only screen and (max-width: 900px) {
    .content-card{
        flex-wrap: wrap;
        justify-content: center;
    }
    .content-card img{
        height: 200px;
    }
    
}
@media only screen and (max-width: 400px) {
    .personal h1{
        font-size: 14px;
    }
    .content-card img{
        height: 100px;
    }
    .title h1{
        font-size: 20px;
    }
    .title p{
        font-size: 14px;
    }
    .content-card-details h1{
        font-size: 14px;
    }
    .content-card-details p{
        font-size: 12px;
    }
    
}